$header-height: 80px;
$history-tab-height: 40px;

// z-index
$header-z-index: 10;

// fonts
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 700;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-family-default: $font-weight-regular;

// colors
$background-color: #fff;
$primary: #222;
$sub: #393e46;
$mint: #4ecca3;
$black: #000;
$white: #fff;
$light-gray: #eee;
