@import '../../shared/variables.scss';

$mobile-max-width: 420px;

.header {
  width: 100%;
}

.content {
  $max-width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 30px;
  max-width: $max-width;
  width: 100%;
  height: $header-height;
  @media screen and (max-width: $mobile-max-width) {
    padding: 0 20px;
  }
  nav {
    margin: 0 0 0 12px;
    display: flex;
    align-items: center;
    a {
      margin: 0 10px;
      font-size: 13px;
      font-weight: 400;
      &:last-of-type {
        margin: 0 0 0 10px;
      }
      &.active {
        font-weight: $font-weight-bold;
      }
    }
    @media screen and (max-width: $mobile-max-width) {
      display: none;
    }
  }
}

.leftContainer {
  position: relative;
  display: flex;
  align-items: center;
  h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
  }
}

.rightContainer {
  position: relative;
  display: flex;
  align-items: center;
  a {
    margin: 0 10px;
    font-size: 13px;
    font-weight: $font-weight-regular;
    &:hover {
      font-weight: $font-weight-medium;
    }
  }
}

.asideContainer {
  display: flex;
  align-items: center;
  margin: 0 0 0 12px;
  .btn {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 6px;
    padding: 0 8px;
    min-width: 60px;
    border: 1px solid #000;
    &.register {
      background: #000;
      color: #fff;
    }
  }
}

.avatarContainer {
  margin: 0 0 0 20px;
}

.drawerIconContainer {
  margin: 4px 12px 0 0;
  padding: 0;
  background: transparent;
  display: none;
  .drawerBar1,
  .drawerBar2,
  .drawerBar3 {
    width: 20px;
    height: 2px;
    margin: 6px 0;
    background: #222;
    transition: 0.4s;
  }
  &.activeDrawerIcon {
    .drawerBar1 {
      transform: rotate(-45deg) translate(-3.4px, 8px);
    }
    .drawerBar2 {
      opacity: 0;
    }
    .drawerBar3 {
      transform: rotate(45deg) translate(-3.4px, -8px);
    }
  }
  @media screen and (max-width: $mobile-max-width) {
    display: inline-block;
  }
}

.drawerContainer {
  width: 270px;
  .drawerMenu {
    li {
      border-bottom: 1px solid #e0e0e0;
      &:last-of-type {
        border-bottom: 0;
      }
      a {
        display: block;
        padding: 15px;
        color: #616161;
        font-size: 16px;
        letter-spacing: -1px;
      }
    }
  }
}

.drawerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  background-color: #222;
  font-size: 14px;
  font-weight: $font-weight-semi-bold;
  color: #fff;
}

.drawerClose {
  margin: 0;
  padding: 0;
  font-weight: $font-weight-semi-bold;
  background: transparent;
}
