@import '../../shared/variables.scss';

.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.content {
  margin: 0 auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.empty {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-weight: $font-weight-thin;
  font-size: 20px;
}
