{
  "presets": ["react-app"],
  "plugins": [
    ["@babel/plugin-proposal-optional-chaining"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~": "./src"
        }
      }
    ]
  ]
}
