@import '../../shared/variables.scss';

$mobile-max-width: 600px;
$modal-height: 600px;

.container {
  position: absolute;
  max-width: 400px;
  width: 100%;
  height: 100%;
  max-height: $modal-height;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  > div {
    max-height: $modal-height;
  }
  @media screen and (max-width: $mobile-max-width) {
    max-height: 100%;
    > div {
      max-height: 100%;
    }
  }
}

.postCodeContainer {
  background: #fff;
  @media screen and (max-width: $mobile-max-width) {
    min-height: 100%;
  }
}

.closeContainer {
  top: 0;
  right: -46px;
  position: absolute;
  background-color: transparent;
  @media screen and (max-width: $mobile-max-width) {
    right: auto;
    top: auto;
    position: relative;
    text-align: right;
  }
}

.btnClose {
  padding: 2px 16px 6px;
  font-size: 24px;
  font-weight: $font-weight-light;
  width: 46px;
  height: 46px;
  color: #fff;
  background: #ddd;
  outline: none;
  border: 1px solid #efefef;
  border-left: 0;
  @media screen and (max-width: $mobile-max-width) {
    border: 0;
  }
}
